/* Make footer stick to bottom of viewport and allow main content to grow */
:host {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
}

