.logo {
  height: 32px;
  width: auto;
  vertical-align: middle;
  margin-right: 8px;
}
.landing-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.title {
  font-weight: bold;
  font-size: 2rem;
  vertical-align: middle;
}
